.hall-of-fame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90vw;
  margin: 0 auto;
  padding: 1em;
}

.hall-of-fame img {
  width: 50vw;
  margin: 0 auto;
}

.hall-of-fame .flex-row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*margin: 0 auto;*/
}

.hall-of-fame article {
  display: flex;
  flex-direction: column;
  background-color: #00AFFF;
  margin: 5em 0;
  padding: 2em;
  /*border: 10px solid #00BBFF;*/
  border-radius: 6px;
  width: 100%;
}

.hall-of-fame article p {
  max-width: 80vw;
  font-size: 1.3rem;
  margin: 1em auto;
}

@media only screen and (min-width: 1000px) {
  .hall-of-fame article {
    margin: 5em;
    width: 40vw;
  }

  .hall-of-fame article p {
    max-width: 25vw;
  }

  .hall-of-fame img {
    width: 25vw;
  }

  .hall-of-fame p {
    font-size: 1.3rem;
  }

  .hall-of-fame {
    /*margin-right: 100%;*/
    justify-content: left;
  }

  .hall-of-fame .flex-row {
    display: flex;
    flex-direction: row;
    /*justify-content: center;*/
    margin-right: 20vw;
  }
}