.ontwikkeling-talen .taal {
  /*border: 10px solid #00AFFF;*/
  border-radius: 6px;
  width: 90vw;
  margin: 2rem auto;
  background-color: #00BBFF;
}
.ontwikkeling-talen img{
  width: 50%;
}

.ontwikkeling-talen table {
  margin: 5vh 0;
}

.ontwikkeling-talen .first {
  font-size: 1.6rem;
  font-style: italic;
  width: 90vw;
}

.ontwikkeling-talen p {
  margin: 0 5vw 0;
  font-size: 1.3rem;
  margin-bottom: 3vh;
}

.fortran {
  margin: 10vh 0 0 0;
}

.fortran img {
  /*width: 10vw;*/
}

.cobol img {
  margin: 0 0 0 0;
}


table tr td {
  font-size: 5vw;
}

table tr td:nth-of-type(1) {
  color: #FFF
}

@media only screen and (min-width: 750px) {
  table tr td {
    font-size: 7vw;
  }
}

@media only screen and (min-width: 1000px) {
  .flex {
    display: flex;
    justify-content: space-evenly;
  }

  .ontwikkeling-talen {
    margin-right: 20vw;
  }

  .ontwikkeling-talen img {
    width: 15vw;
    object-fit: contain;
  }

  .ontwikkeling-talen .taal {
    width: 70vw;
    border-radius: 6px;
    margin: 5em auto;
  }

  .ontwikkeling-talen .taal p {
    font-size: 1.3rem;
    max-width: 60vw;
  }

  .ontwikkeling-talen .first {
    font-size: 1.2rem;
    max-width: 70vw;
  }

  table tr td {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }
}
